// logo
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// search box
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;


  &__input {
    width: 90%;
    padding: .6rem 2rem;
    border-radius: 100px;
    outline: none;
    border: 0;
    background: var(--color-gray-light-2);
    margin-right: -3.5rem;
    transition: all .2s;
    font-size: inherit;
    color: var(--color-gray-dark-4);
    font-family: inherit;
    font-weight: 300;

    &::placeholder {
      color: inherit;

    }

    &:focus {
      width: 100%;
    }

  }

  &__btn {
    outline: none;
    border: 0;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-gray-dark-2);
  }
}

// icon
.icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--color-gray-dark-2);
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;


  & > * {
    padding: 0 2rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }


  & > *:hover {
    background: var(--color-gray-light-3);
    height: 100%;
  }

  &__icon-box {
    font-size: 1rem;
    position: relative;
  }

  &__noti-badge {
    background: var(--color-primary);
    width: 1.6rem;
    height: 1.6rem;
    color: var(--color-gray-light-1);
    border-radius: 100px;
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }
}


.user {
  &__img {
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__name {
    font-size: 1.3rem;
    color: var(--color-gray-dark-2);
  }
}

// sidebar

.sidebar {
  &__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    gap: 1rem;
  }

  &__item {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__item::before {
    content: "";
    background: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3px;
    transform: scaleY(0);
    transition: transform .2s cubic-bezier(.65, -0.04, .07, 1.14),
    width .4s .2s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-gray-light-1);
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
  }


  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor;
    margin-right: 1.6rem;
  }

  &__legal {
    font-size: 1.3rem;
    text-align: center;
    padding: 0 .5rem;
    line-height: 1.6;
    color: var(--color-gray-light-2);
  }
}


// Hotel overview
.gallery {
  display: flex;

  &__image {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  background: var(--color-gray-light-1);

  &__hotel-name {
    font-size: 2.5rem;
    font-weight: 300;
    margin-right: 2.5rem;
    color: var(--color-gray-dark-2);
  }

  &__stars {
    margin-right: auto;
    align-items: stretch;
  }

  &__stars-icon {
    width: 1.75rem;
    height: 1.75rem;
    color: var(--color-primary);
    fill: currentColor;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
  }


  &__location {
    display: flex;
    gap: 2rem;
  }


  &__location-box {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1.3rem;
  }

  &__map-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary);
  }

  &__votes {
    background: var(--color-primary);
    color: var(--color-gray-light-1);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem 2rem;
    justify-content: center;
    text-align: center;
  }

  &__rating-average {
    font-size: 2rem;
    font-weight: 300;
  }

  &__rating-votes-rating-count {
    font-weight: bold;
  }
}

// Text button
.btn-text {
  &,
  &:visited,
  &:link {
    font-size: 1.2rem;
    color: var(--color-primary);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    transition: all .3s;
  }

  &:hover {
    color: var(--color-gray-dark-1);
  }

  &:focus {
    animation: slate 1s infinite;
    outline: none;
  }
}


.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}


.about {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(black, .07);
}


////////////////////////////////////////
// LIST
.list {
  list-style: none;
  margin: 3rem 0;
  border-bottom: 1px solid rgba(black, .07);
  padding-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    // Older browsers
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    //Newer browsers - masks
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
    background-image: none;

  }
}

// recommend
.recommend {
  display: flex;
  gap: 4rem;
  align-items: center;

  &__text {
    font-size: 1.2rem;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-sizing: content-box;

    &:not(:first-child) {
      margin-left: -1.5rem;
    }
  }

  &__img {
    width: 100%;
    border-radius: 50%;
    display: inline-block;
  }
}