.container {
  background: var(--color-gray-light-2);
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 50rem;
  box-shadow: var(--shadow-dark);
}

.header {
  background: var(--color-gray-light-1);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

.content {
  display: flex;
}

.sidebar {
  background: var(--color-gray-dark-1);
  color: var(--color-gray-light-2);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.hotel-view {
  flex: 1;
}

.overview {
  margin-bottom: 4rem;
  border-bottom: 1px solid rgba(black, 0.05);
}

// detail
.detail {
  display: flex;
  gap: 4rem;
  //padding: 2rem 4rem 0 4rem;
  padding: 4rem;
}

.description {
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(black, .1);
  line-height: 1.5;
  padding: 4rem;
  color: var(--color-gray-dark-2);
  font-size: 1.2rem;
  flex: 0 0 60%;
}


.recommend {
  display: flex;
}

.reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
